.filter-bar {
  padding: 10px 15px;
}

.center {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.catalogs {
  max-width: 1700px;
  margin: 0 auto;
}

.catalogs-wrapper {
  padding: 20px;
}

@media (max-width: 1280px) {
  #catalogs {
    flex-direction: column;
  }

  #search-bar {
    justify-content: center;
  }
}
