.catalogs {
  min-height: 100vh;
  max-width: 1700px;
  margin: 0 auto;
}

.catalogs-wrapper {
  padding: 85px 20px 20px 20px;
}

.link {
  border-radius: 5px;
  padding: 15px;
  font-weight: bolder !important;
}

.link:hover {
  background-color: var(--link-color);
  color: #ed6c02;
}

.social-link:hover {
  color: #ed6c02 !important;
}

.side-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.div-block {
  width: 2px;
  height: 50px;
  background-color: #fff;
  transform: translate(7px, 0);
}

.active-dot {
  background-color: #fff !important;
}

@media (max-width: 1280px) {
  #catalogs {
    flex-direction: column;
  }

  #search-bar {
    justify-content: center;
  }
}
