#catalogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalogs {
  min-height: 100vh;
  max-width: 1700px;
  margin: 0 auto;
}

.carousel-wrapper {
  position: relative;
  padding: 85px 20px 20px 20px;
  max-width: 1000px;
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 45px;
  color: #5e5e5e;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: transparent;
  z-index: 1;
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 45px;
  color: #5e5e5e;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: transparent;
  z-index: 1;
}

.slider-right-arrow:hover {
  transform: translate(5px, 0px);
  transition: transform 500ms ease;
}

.slider-left-arrow:hover {
  transform: translate(-5px, 0px);
  transition: transform 500ms ease;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.link {
  border-radius: 5px;
  padding: 15px;
  font-weight: bolder !important;
  color: var(--secondary-color) !important;
}

.link:hover {
  background-color: var(--link-color);
  color: var(--primary-color) !important;
}

.social-link:hover {
  color: var(--primary-color) !important;
}

.side-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.div-block {
  width: 3px;
  height: 50px;
  background-color: var(--secondary-color);
  transform: translate(7px, 0);
}

.active-dot {
  background-color: var(--primary-color) !important;
}

@media (max-width: 1280px) {
  #catalogs {
    flex-direction: column;
  }

  #search-bar {
    justify-content: center;
  }
}
