* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fafafa;
  background-image: url("https://cdn.discordapp.com/attachments/1104317914816983120/1104334105656700978/lipto_black_brick_wall_1_7787a09b-7063-4135-9a61-9909ad0a5ea2.png");
  background-attachment: fixed;
}
