* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body-background: url("https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/346112391_909819650120886_5701902056319913754_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=8Mc7iGVU3QUAX-0yr0X&_nc_ht=scontent-ams4-1.xx&oh=03_AdSCrtJWzBV-pu0sqTXVKFSNzIZJePwPe9Nmhuh_zu6aIQ&oe=648B2B57");
  --body-fallback-background: #fafafa;
  --link-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--body-fallback-background);
  background-image: var(--body-background);
  background-attachment: fixed;
}
