* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body-background: url("https://scontent-ams2-1.xx.fbcdn.net/v/t1.15752-9/346132442_1268628943746723_435720660055329800_n.png?stp=dst-png_p1080x2048&_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=a2dNcAsUSZMAX8vxhW_&_nc_ht=scontent-ams2-1.xx&oh=03_AdTrXOjlj6BuKKShFF6tkDE4vSO9uOo2qj061mWGQgKVCg&oe=648B46F8");
  --body-fallback-background: #fafafa;
  --link-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--body-fallback-background);
  background-image: var(--body-background);
  background-attachment: fixed;
}

span {
  font-size: 14px;
  font-family: sans-serif, Arial, Helvetica;
}